/* PrimeMd - Markdown Blog Post Styles */
/* Author: Kaycee Ingram */

blockquote {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  color: #F46160;
  font-weight: bold;
  padding: 14px;
}

strong {
  color: #2E3440;
  font-weight: bold;
}

.blog-link {
  color: #F46160;
  font-weight: bold;
  text-decoration: underline;
}

.highlight {
  border-bottom: 3px solid #F46160;
  border-bottom-style: solid;
  padding-bottom: -14px;
}

.origin-letter {
  color: #2E3440;
  font-size: 35px;
}
