<!doctype html>
<html style="background-color: #F9F7F1;" class="has-navbar-fixed-top" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="author" content="Kaycee Ingram">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="Kaycee Ingram, Kaycee, Ingram, Blog, Investing, Value Investing, Finance, Money Management, Money, Investments, Financial Analysis, The Intelligent Investor, Intelligent, Savings, Stock Portfolio, Portfolio, Mutual Funds, Mutual Fund, Index Funds, Index Fund, Fund, Security Analysis, Benjamin Graham, Warren Buffett, Buffett, Graham, Warren, Graham, Value Investor, Value, SEC, Stocks, Stock Market, Market, Economy, Business, David Dodd, David, Dodd, Long Term, Freedom, Advice, Tutorial, Help, Self Help">
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/assets/normalize.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spectral:300,400,500,700,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:900&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="/assets/style.css" rel="stylesheet">
  <title>{{ title }}</title>
</head>
<body style="background-color: #F9F7F1;">
  <div id="wrap">
    <header>
      <nav style="padding: 7px; border-bottom: 2px solid #F8F9FA; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(233, 233, 233);" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a style="color: #373737; letter-spacing: -1px;" class="navbar-brand nav-logo" href="/">Patience Pays</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div style="text-align: center;" class="ml-auto navbar-nav">
            <a style="color: #373737; font-weight: bold; font-size: 20px;" class="nav-item nav-link" href="/">Home</a>
            <hr>
            <a style="color: #373737; font-weight: bold; font-size: 20px;" class="nav-item nav-link" href="/about.html">About</a>
            <hr>
            <a style="color: #373737; font-weight: bold; font-size: 20px;" class="nav-item nav-link" href="/contact.html">Contact</a>
            <hr>
            <a style="color: #373737; font-weight: bold; font-size: 20px;" class="nav-item nav-link" href="/books.html">Books & Articles</a>
          </div>
        </div>
      </nav>
    </header>

  <div id="main">
        <section style="background-color: #F9F7F1; margin-top: 55px; margin-bottom: 50px; margin-left: 0px; margin-right: 0px;" class="hero">
            <div class="hero-body">
              <div class="container">
                <h1 style="color: #363636; padding: 50px; font-weight: bold; font-size: 40px; text-align: center; margin-bottom: 15px;" class="title">
                  Lessons <br>Learned from <br>Value Investing
                </h1>
              </div>
            </div>
          </section>
  <div style="box-shadow: 0 8px 16px rgba(10,10,10,.1);">
  {{{ contents }}}
  </div>
</div>
</div>
<div id="footer">
    <footer class="footer">
        <div class="content has-text-centered">
            <h1 style="text-align: center"><a style="color: #8B7B65; font-family: baskerville; font-size: 45px; line-height: 1.7; letter-spacing: 0; text-decoration: underline" href="/contact.html">Ingram</a></h1>
          <p style="font-size: 20px; margin-bottom: 0;">
           Copyright © 2019 <span style="font-weight: bold; font-family: 'Merriweather', 'Playfair Display', serif, cursive; letter-spacing: -1px;">Patience Pays</span>
          </p>
        </div>
      </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript">
    (function() {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#'+burger.dataset.target);
      burger.addEventListener('click', function(){
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
</script>
</body>
</html>
